<form action="/anmeldung" method="POST">
    <input type="text" name="spielername" placeholder="Spielername"><br>
    <input type="password" name="passwort" placeholder="Passwort"><br>
    <input type="submit" value="anmeldung">
</form>