<form action="/register" method="post">
    <input type="text" name="vorname" id="vorname" placeholder="Vorname"><br>
    <input type="text" name="nachname" id="nachname" placeholder="Nachname"><br>
    <input type="text" name="spielername"  id="spielername" placeholder="Spielername"><br>
    <input type="email" name="mail" id="mail" placeholder="E-Mail"><br>
    <input type="password" name="passwort" id="passwort" placeholder="Passwort"><br>
    <input type="submit" value="Account registrieren">
</form>