<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Spielerprofil</h1>

<% if (spieler.length > 0) { %>
    <form action="/spielerdaten-aktualisieren" method="post">
        <label for="vorname">Vorname</label>
        <input type="text" name="vorname" readonly disabled value="<%= spieler[0].vorname%>">
        <label for="nachname">Nachname</label>
        <input type="text" name="nachname" value="<%= spieler[0].nachname %>">
        <label for="mail">E-Mail Adresse</label>
        <input type="email" name="mail" value="<%= spieler[0].mail %>">
        <input type="submit" value="Daten aktualisieren">
    </form>
<% } else { %>
    <p>Kein Spieler gefunden.</p>
<% } %>
</body>
</html>